* {
    margin: 0;
}

header {
    background-color: #111;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

button .openBtn {
    margin-right: 1em;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    display: flex;
    background-color: #111;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 8em;
    padding-left: 1em;
}

.sidepanel {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openBtn:hover {
    background-color: #444;
}

.hero img {
    height: 50%;
    width: 100%;
    opacity: 75%;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 0.5em;
}

a {
        text-decoration: none;
}

.products {
    display: grid;
    justify-content: center;
    margin-top: 0.5em;
}

img {
 width: 400px;
 height: 400px;
 object-fit: contain;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.add-btn {
    display: block;
    margin: auto;
    border-radius: 1em;
    padding: 0.35em;
    background-color: #D2D8D0;
}

.cart-button {
    background-color: black;
    color: white;
    padding: 1em;
    border: none;
    font-size: 18px;
}

.cart {
    display: block;
    margin: auto;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1em;
    max-width: 90%;
    height: 400px;
    width: 75%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.cart-total {
    font-size: 26px;
    font-weight: 25px;
    text-align: center;
}